---
http_interactions:
- request:
    method: get
    uri: https://ramortegui.harvestapp.com/account/who_am_i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Basic cnViZW4uYW1vcnRlZ3VpQGdtYWlsLmNvbTpwdWJsaWNvMDE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app3
      X-Server:
      - lb2
    body:
      encoding: ASCII-8BIT
      string: '{"company":{"base_uri":"https://ramortegui.harvestapp.com","full_domain":"ramortegui.harvestapp.com","name":"Paradem","active":true,"week_start_day":"Monday","time_format":"hours_minutes","clock":"12h","decimal_symbol":".","color_scheme":"orange","modules":{"expenses":true,"invoices":true,"estimates":false,"approval":true,"team":true},"thousands_separator":",","plan_type":"trial"},"user":{"timezone":"Mountain
        Time (US & Canada)","timezone_identifier":"America/Denver","timezone_utc_offset":-21600,"id":1837253,"email":"ruben.amortegui@gmail.com","admin":true,"first_name":"Ruben","last_name":"Amortegui","avatar_url":"https://cache.harvestapp.com/assets/profile_images/cornell_clock_tower.png?1504065002","project_manager":{"is_project_manager":false,"can_see_rates":true,"can_create_projects":true,"can_create_invoices":true},"timestamp_timers":false}}'
  recorded_at: Sat, 09 Sep 2017 18:10:59 GMT
- request:
    method: get
    uri: https://ramortegui.harvestapp.com/clients
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Basic cnViZW4uYW1vcnRlZ3VpQGdtYWlsLmNvbTpwdWJsaWNvMDE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app5
      X-Server:
      - lb1
    body:
      encoding: ASCII-8BIT
      string: '[{"client":{"id":5948162,"name":"Bubble Gum Factory Ltd.","active":true,"currency":"Canadian
        Dollar - CAD","highrise_id":null,"updated_at":"2017-09-01T03:44:52Z","created_at":"2017-09-01T03:44:52Z","statement_key":"a1a64f80c37fabbad59022a56fe54624","default_invoice_kind":null,"default_invoice_timeframe":null,"address":null,"delete_at":null,"currency_symbol":"$","details":null,"last_invoice_kind":null}}]'
  recorded_at: Sat, 09 Sep 2017 18:11:02 GMT
- request:
    method: get
    uri: https://ramortegui.harvestapp.com/people
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Basic cnViZW4uYW1vcnRlZ3VpQGdtYWlsLmNvbTpwdWJsaWNvMDE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app6
      X-Server:
      - lb4
    body:
      encoding: ASCII-8BIT
      string: '[{"user":{"id":1839437,"email":"ruben+2@yoursole.com","password":null,"created_at":"2017-09-01T03:44:41Z","company_id":681663,"is_admin":false,"first_name":"Ethan","last_name":"Muchoki","timezone":"Mountain
        Time (US & Canada)","is_contractor":false,"telephone":"","is_active":true,"has_access_to_all_future_projects":false,"default_hourly_rate":null,"email_after_submit":true,"department":"","preferred_entry_method":"daily","preferred_approval_screen":"timeframe","wants_newsletter":false,"updated_at":"2017-09-01T03:44:41Z","first_timer":true,"is_project_manager":false,"can_see_rates":false,"can_create_invoices":false,"can_create_projects":false,"cost_rate":null,"identity_account_id":822595,"identity_user_id":null,"weekly_capacity":126000}},{"user":{"id":1839436,"email":"ruben+1@yoursole.com","password":null,"created_at":"2017-09-01T03:44:07Z","company_id":681663,"is_admin":false,"first_name":"Liam","last_name":"Baker","timezone":"Mountain
        Time (US & Canada)","is_contractor":false,"telephone":"","is_active":true,"has_access_to_all_future_projects":false,"default_hourly_rate":null,"email_after_submit":true,"department":"","preferred_entry_method":"daily","preferred_approval_screen":"timeframe","wants_newsletter":fal[...]
- request:
    method: get
    uri: https://ramortegui.harvestapp.com/tasks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Basic cnViZW4uYW1vcnRlZ3VpQGdtYWlsLmNvbTpwdWJsaWNvMDE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app11
      X-Server:
      - lb2
    body:
      encoding: ASCII-8BIT
      string: '[{"task":{"id":8404989,"name":"Business Modelling","billable_by_default":true,"created_at":"2017-09-01T03:44:54Z","updated_at":"2017-09-01T03:44:54Z","is_default":false,"default_hourly_rate":null,"deactivated":false}},{"task":{"id":8404990,"name":"Incredible
        Software Development","billable_by_default":true,"created_at":"2017-09-01T03:44:56Z","updated_at":"2017-09-01T03:44:56Z","is_default":false,"default_hourly_rate":null,"deactivated":false}},{"task":{"id":8404988,"name":"Kickass
        User Experience","billable_by_default":true,"created_at":"2017-09-01T03:44:52Z","updated_at":"2017-09-01T03:44:52Z","is_default":false,"default_hourly_rate":null,"deactivated":false}}]'
  recorded_at: Sat, 09 Sep 2017 18:11:11 GMT
- request:
    method: get
    uri: https://ramortegui.harvestapp.com/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Basic cnViZW4uYW1vcnRlZ3VpQGdtYWlsLmNvbTpwdWJsaWNvMDE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app1
      X-Server:
      - lb1
    body:
      encoding: ASCII-8BIT
      string: '[{"project":{"id":14921422,"client_id":5948162,"name":"Harvesting Bubble
        Gum Batter","code":null,"active":true,"bill_by":"none","budget":null,"budget_by":"none","notify_when_over_budget":false,"over_budget_notification_percentage":80.0,"over_budget_notified_at":null,"show_budget_to_all":false,"created_at":"2017-09-04T19:29:33Z","updated_at":"2017-09-04T19:29:33Z","starts_on":null,"ends_on":null,"estimate":null,"estimate_by":"none","is_fixed_fee":false,"billable":true,"hint_earliest_record_at":"2016-09-01","hint_latest_record_at":"2016-12-30","notes":"","hourly_rate":null,"cost_budget":null,"cost_budget_include_expenses":false}}]'
  recorded_at: Sat, 09 Sep 2017 18:11:14 GMT
- request:
    method: get
    uri: https://ramortegui.harvestapp.com/projects/14921422/entries?from=20160101&to=20170101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Basic cnViZW4uYW1vcnRlZ3VpQGdtYWlsLmNvbTpwdWJsaWNvMDE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app1
      X-Server:
      - lb4
    body:
      encoding: ASCII-8BIT
      string: '[{"day_entry":{"id":667982436,"notes":null,"spent_at":"2016-09-01","hours":6.5,"user_id":1839436,"project_id":14921422,"task_id":8404990,"created_at":"2017-09-04T19:29:54Z","updated_at":"2017-09-04T19:29:54Z","adjustment_record":false,"timer_started_at":null,"is_closed":false,"is_billed":false}},{"day_entry":{"id":667982435,"notes":null,"spent_at":"2016-09-02","hours":1.5,"user_id":1839436,"project_id":14921422,"task_id":8404990,"created_at":"2017-09-04T19:29:54Z","updated_at":"2017-09-04T19:29:54Z","adjustment_record":false,"timer_started_at":null,"is_closed":false,"is_billed":false}},{"day_entry":{"id":667982433,"notes":null,"spent_at":"2016-09-05","hours":0.58,"user_id":1839436,"project_id":14921422,"task_id":8404990,"created_at":"2017-09-04T19:29:53Z","updated_at":"2017-09-0[...]
- request:
    method: get
    uri: https://rubenamortegui1.harvestapp.com/account/who_am_i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Basic YnJvd3Nlcl84MEBob3RtYWlsLmNvbTpwdWJsaWNvMDE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app4
      X-Server:
      - lb3
    body:
      encoding: ASCII-8BIT
      string: '{"company":{"base_uri":"https://rubenamortegui1.harvestapp.com","full_domain":"rubenamortegui1.harvestapp.com","name":"Acme
        Co.","active":true,"week_start_day":"Monday","time_format":"hours_minutes","clock":"12h","decimal_symbol":".","color_scheme":"orange","modules":{"expenses":true,"invoices":true,"estimates":false,"approval":true,"team":true},"thousands_separator":",","plan_type":"trial"},"user":{"timezone":"Mountain
        Time (US & Canada)","timezone_identifier":"America/Denver","timezone_utc_offset":-21600,"id":1839438,"email":"Browser_80@hotmail.com","admin":true,"first_name":"Ruben","last_name":"Amortegui","avatar_url":"https://cache.harvestapp.com/assets/profile_images/abraj_albait_towers.png?1504237751","project_manager":{"is_project_manager":false,"can_see_rates":true,"can_create_projects":true,"can_create_invoices":true},"timestamp_timers":false}}'
  recorded_at: Sat, 09 Sep 2017 18:11:21 GMT
- request:
    method: get
    uri: https://rubenamortegui1.harvestapp.com/clients
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Basic YnJvd3Nlcl84MEBob3RtYWlsLmNvbTpwdWJsaWNvMDE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app3
      X-Server:
      - lb3
    body:
      encoding: ASCII-8BIT
      string: '[{"client":{"id":5948172,"name":"Bubble Gum Factory Ltd.","active":true,"currency":"Canadian
        Dollar - CAD","highrise_id":null,"updated_at":"2017-09-01T03:55:25Z","created_at":"2017-09-01T03:55:25Z","statement_key":"c5220357a86d04c9232f4d7c662fc671","default_invoice_kind":null,"default_invoice_timeframe":null,"address":null,"delete_at":null,"currency_symbol":"$","details":null,"last_invoice_kind":null}}]'
  recorded_at: Sat, 09 Sep 2017 18:11:26 GMT
- request:
    method: get
    uri: https://rubenamortegui1.harvestapp.com/people
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Basic YnJvd3Nlcl84MEBob3RtYWlsLmNvbTpwdWJsaWNvMDE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app12
      X-Server:
   [...]
- request:
    method: get
    uri: https://rubenamortegui1.harvestapp.com/tasks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Basic YnJvd3Nlcl84MEBob3RtYWlsLmNvbTpwdWJsaWNvMDE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app6
      X-Server:
     [...]
- request:
    method: get
    uri: https://rubenamortegui1.harvestapp.com/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Basic YnJvd3Nlcl84MEBob3RtYWlsLmNvbTpwdWJsaWNvMDE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app8
      X-Server:
      - lb2
    body:
      encoding: ASCII-8BIT
      string: '[{"project":{"id":14921339,"client_id":5948172,"name":"Harvesting Bubble
        Gum Batter","code":null,"active":true,"bill_by":"none","budget":null,"budget_by":"none","notify_when_over_budget":false,"over_budget_notification_percentage":80.0,"over_budget_notified_at":null,"show_budget_to_all":false,"created_at":"2017-09-04T19:04:32Z","updated_at":"2017-09-04T19:04:32Z","starts_on":null,"ends_on":null,"estimate":null,"estimate_by":"none","is_fixed_fee":false,"billable":true,"hint_earliest_record_at":"2016-09-01","hint_latest_record_at":"2016-12-28","notes":"","hourly_rate":null,"cost_budget":null,"cost_budget_include_expenses":false}}]'
  recorded_at: Sat, 09 Sep 2017 18:11:39 GMT
- request:
    method: get
    uri: https://rubenamortegui1.harvestapp.com/projects/14921339/entries?from=20160101&to=20170101
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Basic YnJvd3Nlcl84MEBob3RtYWlsLmNvbTpwdWJsaWNvMDE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-[...]
