---
http_interactions:
- request:
    method: get
    uri: https://ramortegui.harvestapp.com/account/who_am_i
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Basic cnViZW4uYW1vcnRlZ3VpQGdtYWlsLmNvbTpwdWJsaWNvMDE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-App-Server:
      - app4
      X-Server:
      - lb1
    body:
      encoding: ASCII-8BIT
      string: '{"company":{"base_uri":"https://ramortegui.harvestapp.com","full_domain":"ramortegui.harvestapp.com","name":"Paradem","active":true,"week_start_day":"Monday","time_format":"hours_minutes","clock":"12h","decimal_symbol":".","color_scheme":"orange","modules":{"expenses":true,"invoices":true,"estimates":false,"approval":true,"team":true},"thousands_separator":",","plan_type":"trial"},"user":{"timezone":"Mountain
        Time (US & Canada)","timezone_identifier":"America/Denver","timezone_utc_offset":-21600,"id":1837253,"email":"ruben.amortegui@gmail.com","admin":true,"first_name":"Ruben","last_name":"Amortegui","avatar_url":"https://cache.harvestapp.com/assets/profile_images/cornell_clock_tower.png?1504065002","project_manager":{"is_project_manager":false,"can_see_rates":true,"can_create_projects":true,"can_create_invoices":true},"timestamp_timers":false}}'
  recorded_at: Sat, 09 Sep 2017 18:09:57 GMT
recorded_with: VCR 3.0.3
